@model DrugStore.Data.Entities.User.User

@{
    ViewData["Title"] = "Admin Page";
}

<div class="col-12">
    <div class="rounded-3 p-4 m-2 receipt-card">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h2>User Information</h2>
                <p>Full Name: <span id="user-firstname">@Model.UserName</span></p>
                <p>Email: <span id="user-email">@Model.Email</span></p>
                <p>Phone Number: <span id="user-phone" dir="ltr"></span></p>
            </div>
        </div>
    </div>
</div>